body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

header {
  background-color: #660066;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.calculator {
  background-color: #990099;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
}

.display {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: right;
  width: 100%;
}

.number, .operator, .clear, .equal {
  background-color: #ff33cc;
  border: none;
  border-radius: 5px;
  color: white;
  font-size
